.hide{
    display: none;
}

#itensFeitos .btn-span{
    text-decoration: line-through red 2px;
}

#bullet li{
    list-style: none; 
}

.adicionar{
border-radius: 10px;
}

body{
    font-family: arial;
}

.grid{
    display: grid;
    place-content:center;
    margin-top: 50px;
    gap: 20px;
    text-align: center;
}

ul{
    margin: 0px;
    padding: 0px;
}

#itensFeitos .btn-span.editavel,#itensAfazer .btn-span.editavel{
    padding: 10px;
    border-radius: 5px ;
    border: 2px solid black;
    text-decoration: none ;
}

/* .editavel{
    padding: 10px;
    border-radius: 5px ;
    border: 2px solid black;
    text-decoration: none !important;
} */

#Border1{
    border: 2px solid black;
    border-radius: 10px;
}

#DistBorder{
    padding: 10px;
}

h4{
    padding-top: 10px;
}

span{
    display: inline-block;
    width: 150px;
    font-size: 20px;
    
}